*{
	text-align:center;
	vertical-align:middle;
	padding:0;
	margin:0;
	}
	
body{
	background-image:url(imagenes/tiza.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	}

h3{
	font-size:20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:white;
	margin-top: 15px;
	}
	
.fecha{
	font-size:15px;
	font-family:"Courier New", Courier, monospace;
	color:white;
	}
	
.campo{
	font-size:20px;
	font-family:"Courier New", Courier, monospace;
	border: 1px solid black;
	height: 20%;
	border-radius: 10px;
}

.venta{
	width: 18%;
	height: 30px;
	margin: 30px;
	border-radius: 20px;
	background: rgb(40,255,227);
	background: linear-gradient(45deg, rgba(40,255,227,1) 0%, rgba(60,175,231,1) 45%, rgba(84,182,236,1) 100%);
	}


button{
	width: 80%;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	}

.caja {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen {
    width: 500px;
    height: auto;
}

.contenedor {
    text-align: right;
    flex: 1;
}

.tabla{
	width:100%;
	border-collapse:collapse;
	border: 1px solid white;
	}
	
.logout{
	border: 1px solid black;
	border-radius: 20px;
	background: rgb(40,255,227);
	background: linear-gradient(45deg, rgba(40,255,227,1) 0%, rgba(60,175,231,1) 45%, rgba(84,182,236,1) 100%);
	width: 200px;
	height: 30px;
	}