*{
	text-align:center;
	vertical-align:center;
	padding:0;
	margin:0;
	}
	
.contentBox{
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
	
.buttonBox{
  margin: 0 20px 40px;
  position:relative;
  max-width: 200px;
  min-width: 150px;
  flex: 20%;
  border-radius: 20px;
}

button{
  width:100%;
  height:80px;
  position:relative;
  background:rgb(204,204,204, .27);
  text-transform:uppercase;
  color:white;
  font-weight:700;
  letter-spacing:1px;
  border:none;
  font-size:15px;
  outline:none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
  border-radius: 20px;
}

.border{
    position:absolute;
    background:none;
    transition:all .5s ease-in-out;
}


#sixth{
  overflow:hidden;
}

#sixth>button{
  z-index:1;
  transition:color .5s ease;
}

#sixth .border{
	  z-index:0;
	  background: rgb(40,255,227);
	  background: linear-gradient(0deg, rgba(40,255,227,1) 0%, rgba(60,175,231,1) 45%, rgba(84,182,236,1) 100%);
	  width:30px;
	  height:30px;
	  transform:rotate(45deg);
}

#sixth>.border:nth-of-type(1){
  top:-35px;
  left:-30px; 
}

#sixth>.border:nth-of-type(2){
  top:-35px;
  right:-30px;
}

#sixth>.border:nth-of-type(3){
  bottom:-35px;
  left:-30px;
}

#sixth>.border:nth-of-type(4){
  bottom:-35px;
  right:-30px;
}

#sixth:hover .border{
  transform:scale(15.7) rotate(45deg);
}

#sixth:hover button{
  color:#fff;
  transition:color 2s ease;
}


	
h2{
	font-size:30px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	color: white;
	margin: 40px;
	}
	
label{
	font-size:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: white;
	margin-top:5px;
	margin-right: 10px;
	text-align:right;
	padding-bottom:50px;
	}
input{
	background:none;
	width:150px;
	height: 25px;
	border: 2px solid white;
	border-top:none;
	border-left:none;
	border-right:none;
	color:white;
	}
	
body{
	background-image:url(/motos.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	}

.caja {
	display: block;
  	justify-content: center;
  	align-items: center; 
  	margin-top: 5%;
	margin-left: 40%;
	border: 2px solid white;
  	border-radius: 20px;
  	width: 20%;
  	height: 400px;
  	position: relative;
	backdrop-filter: blur(5px);
}
